<section>
    <h1 class="title">
        Расходы
    </h1>
    <div class="category-items" id="category-items">
        <a href="#/expense-create" class="text-decoration-none">
            <div class="category-item category-item-get">
                +
            </div>
        </a>
    </div>
</section>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                Вы действительно хотите удалить категорию? Связанные расходы будут удалены навсегда.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal" id="delete-category">Да, удалить</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Не удалять</button>
            </div>
        </div>
    </div>
</div>
