<section>
    <h1 class="title">
        Редактирование категории доходов
    </h1>
    <div class="control-category-form">
        <label>
            <input type="text" class="control-category-form-input form-control" required id="input-category">
        </label>
        <div class="control-category-form-actions">
            <button class="btn btn-success" id="save">Сохранить</button>
            <a href="#/income" class="text-decoration-none"><button class="btn btn-danger">Отмена</button></a>
        </div>
    </div>
</section>

